<div>
  <h2>Simple table examples</h2>

  <div class="section">
    <p>Table with all columns</p>
    <app-simple-users-table [datasource]="datasource" [columns]="simpleUsersColumns"></app-simple-users-table>
  </div>

  <div class="section">
    <p>Table without the firstname and with the job as first column</p>
    <app-simple-users-table [datasource]="datasource" [columns]="simpleUsersColumns2"></app-simple-users-table>
  </div>

</div>

<div>
  <h2>Table where firstname and lastname columns are dynamically generated</h2>

  <div class="section">
    <p>Table with all columns</p>
    <app-table-with-dynamic-columns [datasource]="datasource"
                                    [columns]="simpleUsersColumns"></app-table-with-dynamic-columns>
  </div>
</div>


<div>
  <h2>Table with a custom column example</h2>

  <div class="section">
    <p>Table with an additional column to delete the user</p>
    <app-table-with-injectable-column [datasource]="datasource" [columns]="usersColumnsWithDelete">
      <ng-template let-user>
        <button mat-raised-button color="primary" type="button">
          Delete {{user.firstname}}
        </button>
      </ng-template>
    </app-table-with-injectable-column>
  </div>
</div>


